@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;

  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-family: "Open San", sans-serif;
}

.heading {
  background-image: url("candy-worms.jpg");
  background-color: #ccc;
}

.heading:hover {
  color: #000;
}

h1 {
  font-family: "Abril Fatface", cursive;
  font-size: 3em;
}

.logo {
  left: 1em;
  top: 50%;
}

a {
  text-decoration: none;
  list-style-type: none;
  color: black;
  padding-left: 2em;
  display: block;
}

ol {
  list-style-type: none;
  text-decoration: none;
}

main {
  padding-left: 2em;
}

small {
  font-size: .5em;
  padding-left: .7em;
}

.masthead {
  text-align: center;
}

.gallary, .nav {
  padding-top: 2em;
  padding-bottom: 2em;
}

.btn, .name, .message {
  margin-top: 1em;
}

@media only screen and (min-width: 60em) {

  span {
    padding-right: 3em;
    padding-left: 3em;
  }

  h1 {
    font-size: 4em;
  }
  
}

@media only screen and (min-width: 90em) {

  h1 {
    top: 300em;
    left: 200em;
  }

}
