@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

*, *::before, *::after {
  box-sizing: inherit;

  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-family: "Open San", sans-serif;
}

.nav {
  background-image: url("../images/treat-4.svg");
  background-size: 80px;
  opacity: 30%;
}

.nav:hover {
  color: #e04e5c;
}

h1 {
  font-family: "Abril Fatface", cursive;
  font-size: 3em;
  color: #fff;
}

.heading {
  background-color: #ed9ada;
}

.logo {
  left: 1em;
  top: 50%;
}

a {
  text-decoration: none;
  list-style-type: none;
  color: black;
  padding-left: 2em;
  display: block;
}

ol {
  list-style-type: none;
  text-decoration: none;
}

main {
  padding-left: 2em;

}

small {
  font-size: .5em;
  padding-left: .7em;
}

.masthead {
  text-align: center;
}

.gallary, {
  padding-top: 2em;
  padding-bottom: 2em;
}

.btn, .name, .message {
  margin-top: 1em;
}

.about, .more-info, .location, main {
  background-color: #adedfb;
}

.about {
  margin: 0 auto;
}

.btn:hover {
  border-color: #e04e5c;
}

@media only screen and (min-width: 60em) {

  span {
    padding-right: 3em;
    padding-left: 3em;
  }

  h1 {
    font-size: 4em;
  }

  .max-width {
    max-width: 900px;
  }
}

@media only screen and (min-width: 90em) {

  h1 {
    top: 300em;
    left: 200em;
  }

  .max-width {
    max-width: 10000px;
  }

  .img {
    display: none;
  }

  .lilli {
    width: 50%;
  }

}
